
#homeSection{
    height: 100vh;
    /* margin-bottom: 100px; */
}

#homeSection button {
    width: 200px;
    margin-top: 40px;
}

/* #wordListSection{

}

#twitterSection{

}

#facebookSection {

}

#footer{

} */